[ConnectionProperties]
host: csxdb02
port: 3306
key: csxb0t
batchSize: 10
username: csx
password: csx
database: citeseerx_crawl
startID: 048000000

[ElasticConnectionProperties]
host: 130.203.139.151
port: 9200
index: crawl_meta

[ExtractionConfigurations]
numProcesses: 128
stopProcessing: False
maxDocs: 100000
baseDocumentPath:
baseResultsPath: /data/sfk5555/results23/
baseLogPath: /data/sfk5555/logs23/
logDirPath: /data/sfk5555/logs23/
baseRepoPath: /data/repository5/

[WrapperSettings]
; use 0 for file system
; use 1 for RESTful API
; use 2 for mySQL API
wrapper: 0

[States]
PASS: 1
FAIL: -1
EXTRACTING: 2
CRAWLED: 0

; Note: for anything besides fulltext_pdfbox to work, academicfilter must be set to True
[Modules]
header: True
header_grobid: True
header_tei_to_csx: True

fulltext: True
fulltext_pdfbox: True
fulltext_grobid: True
fulltext_tei_to_csx: False

citation: False
citation_parscit: False
citation_grobid: True

figures: False

academicfilter: True

algorithms: False

keyphrases: False