[ConnectionProperties]
host: csxstaging01.ist.psu.edu
key: csxb0t
batchSize: 2
username: csx-devel
password: csx-devel
database: citeseerx_crawl
startID: 12000000

[ExtractionConfigurations]
numProcesses: 8
stopProcessing: False
maxDocs: 10
baseDocumentPath: /home/huy138/test_repo/
;baseDocumentPath: /export/dataksu/repository/
baseResultsPath: /data/huy138/output/
baseLogPath: /data/huy138/logs/results/
logDirPath: /data/huy138/logs/

[WrapperSettings]
; use 0 for file system
; use 1 for RESTful API
; use 2 for mySQL API
wrapper: 0

[States]
PASS: 1
FAIL: -1
EXTRACTING: 2
CRAWLED: 0

[Modules]
header: False
header_grobid: True
header_tei_to_csx: True

fulltext: True
fulltext_pdfbox: True
fulltext_grobid: False
fulltext_tei_to_csx: True

citation: False
citation_parscit: True
citation_grobid: False

figures: False

academicfilter: True

algorithms: False
