[ConnectionProperties]
host: csxdb02
port: 3306
key: csxb0t
batchSize: 48
username: csx
password: csx
database: citeseerx_crawl
startID: 039200000

[ElasticConnectionProperties]
host: 130.203.139.151
port: 9200
index: crawl_meta

[ExtractionConfigurations]
numProcesses: 15
stopProcessing: False
maxDocs: 60000
baseDocumentPath: /root/sharedfolder/citeseer_new_docs/
;baseDocumentPath: /export/dataksu/repository/
baseResultsPath: /data/sfk5555/ACL_results_55k/
baseLogPath:/data/sfk5555/ACL_logs_55k/
logDirPath: /root/sharedfolder/citeseer_new_docs_results_3/

[WrapperSettings]
; use 0 for file system
; use 1 for RESTful API
; use 2 for mySQL API
wrapper: 2

[States]
PASS: 1
FAIL: -1
EXTRACTING: 2
CRAWLED: 0

; Note: for anything besides fulltext_pdfbox to work, academicfilter must be set to True
[Modules]
header: True
header_grobid: True
header_tei_to_csx: True

fulltext: True
fulltext_pdfbox: True
fulltext_grobid: True
fulltext_tei_to_csx: True

citation: True
citation_parscit: False
citation_grobid: True

figures: True

academicfilter: True

algorithms: False

keyphrases: False
